
<div class="header-menu__item">
    <a href="{{ block.settings.url }}" class="header-menu__link">{{ block.settings.title }}</a>
    {%  if block.blocks.size > 0 %} 
        <div class="submenu-container">
            <div class="submenu-container__grid">
                {% content_for 'blocks' %}
            </div>
        </div>
    {% endif; %}
</div>

{% schema %}
{
    "name": "Menu Item",
    "tag": null,
    "blocks": [{"type": "_header-sub-menu"}, {"type": "_header-sub-menu-card"}],
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Label"
        },
        {
            "type": "url",
            "id": "url",
            "label": "Link"
        }
    ],
    "presets": [
        {
            "name": "Menu Item",
            "blocks": [
                {
                    "type": "_header-sub-menu"
                },
                {
                    "type": "_header-sub-menu-card"
                }
            ]
        }
    ]
}
{% endschema %}